.uploadZone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
    border: 2px dashed #d9d9d9;
    border-radius: 5px;
    background-color: var(--background-color-light);
    cursor: pointer;
    transition: border 1s, background-color 1s;
}

.uploadZone.dragging {
    background-color: var(--primary-color);
    border: var(--primary-color) 5px dashed;
    }

.uploadBox {
    width: 100%;

    text-align: left;

    background-color: var(--background-color-lighter);
    border-radius: 10px;
    padding: 20px;

    flex: 3;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
  
/* .uploadZone > button {
    transition: background-color 0.5s;
}

.uploadZone > button:hover {
    background-color: var(--secondary-color);
} */


.uploadZone > button {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  
    width: 80%;
    height: 45px;
  
}

.buttonContent {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.5em;
    font-weight: bold;
}


    /* HTML: <div class="loader"></div> */
.loader {
    width: 65px;
    height: 65px;
    aspect-ratio: 1;
    position: relative;
    /* background-color: red; */
  }
  .loader:before,
  .loader:after {
    content: "";
    position: absolute;
    border-radius: 50px;
    box-shadow: 0 0 0 3px inset #fff;
    animation: l5 2.5s infinite;
  }
  .loader:after {
    animation-delay: -1.25s;
    border-radius: 0;
  }
  @keyframes l5{
    0%    {inset:0    35px 35px 0   }
    12.5% {inset:0    35px 0    0   }
    25%   {inset:35px 35px 0    0   }
    37.5% {inset:35px 0    0    0   }
    50%   {inset:35px 0    0    35px}
    62.5% {inset:0    0    0    35px}
    75%   {inset:0    0    35px 35px}
    87.5% {inset:0    0    35px 0   }
    100%  {inset:0    35px 35px 0   }
  }

.fadeOut {
    animation: fadeOut 0.5s ease-out forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.progressText {
    padding-top: 20px;
}

.uploadHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    /* background-color: red; */
}

.subjectInputContainer {
    /* margin-left: 100px; */
    /* padding: 20px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    gap: 20px
}

.subjectInput {
    width: 100%;
    /* padding: 10px; */
    border-radius: 5px;
    /* border: 1px solid #ccc; */

    background-color: var(--background-color-lighter);
    color: var(--text-color);
}


.subjectInput:focus {
    outline: none;
    border: 1px solid var(--secondary-color);
}

.subjectLabel {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--text-color);
}